
.intro__list_first{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
    list-style-type: none;
}

.intro__list_second{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}
 
.intro__section{
    margin-right: 70px;
}

.intro__section:last-child{
    margin-right: 0;
}

.intro__link{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.intro__section:hover, intro__section:focus, intro__section:active{
    opacity: .75;
} 